<!DOCTYPE html>
<html>
	<head>
		<title>Disclaimer</title>
	</head>
	<body>
		<h1>
			All the information on this example is published in good faith and for educational information purpose only. Author does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this example (Phishing), is strictly at your own risk. Author will not be liable for any losses and/or damages in connection with the use of this example.
		</h1>
	</body>
</html>